RewriteEngine on
RewriteRule ^home/$ ./index.php
RewriteRule ^AboutUs/$ ./about.php
RewriteRule ^cot/$ ./contact.php
RewriteRule ^proceed/$ ./login.php
RewriteRule ^create/$ ./signup.php
RewriteRule ^calculator/$ ./calculator.php