RewriteEngine on
RewriteRule ^home/$ ./index.php
RewriteRule ^AboutUs/$ ./about.php
RewriteRule ^Policies/$ ./policy.php
RewriteRule ^ContactUs/$ ./contact.php
RewriteRule ^proceed/$ ./login.php
RewriteRule ^create/$ ./signup.php
RewriteRule ^calculator/$ ./calculator.php
RewriteRule ^app/account/$ ./app/index.php
RewriteRule ^app/discover/$ ./app/discover.php
RewriteRule ^app/transaction/$ ./app/transaction.php
RewriteRule ^app/profile/$ ./app/profile.php
RewriteRule ^errorPage/$ ./includes/errors/404.php
RewriteRule ^autoInvestor/$ ./products.php
RewriteRule ^thriffing/$ ./thriffing.php